*.iml
.gradle/
.kotlin/
/local.properties
/.idea/workspace.xml
/.idea/caches/
/.idea/libraries/
/.idea/shelf/
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaryFilter.xml
.idea/**/shelf
.DS_Store
Thumbs.db
build/
*/build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
